body {
    background: #191c1b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #36f5af;

}

h1{
    color:#ff859f;
    text-align: center;
    font-size: 250%;
    font-weight: bold;
}